 .header{
  padding: 60px;
  text-align: center;
  background: palevioletred;
  color: rgb(0,0,0);
 }

 h1{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
 }

center{
  display: block;
  text-align: center;
}

 body{
  font-family: cursive;
 }

 div{
  display: block;
 }


h1{
    color: rgb(0,0,0);
}

h3{
    color: palevioletred;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

tr{
    color: palevioletred;
}

nav{
  display: flex;
  align-items:end;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav li{
  display:inline-block;
  list-style: none;
  margin: 10px 20px;
  
}
nav li a{
  color: black;
  text-decoration: underline;
  font-size: 23px;
}

footer{
  padding: 50px;
  text-align: center;
  background: palevioletred;
  color: rgb(0,0,0);
}

footer{
  display: block;
}
